.fs16{
    font-size: 1rem;
}

nav{
  background-color: #161616;
}

.worldofadasa{
  font-size: 12px;
  font-weight: 400;
  color: #ff8904cc;
}

.adasa{
  font-size: 20px;
  font-weight: 700;
  color: whitesmoke;
}



.active {
  background-color: var(--main-color);
  border-radius: 2.68435e7px;
  width: 89px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
/* 
.navLinksContainer {
  display: flex;
  gap: 1rem; 
  padding: 0.5rem 1rem;
  border-radius: 1.25rem; 
  background-color: rgba(255,255,255,0.1); 
  justify-content: center;
}

.navLink {
  text-decoration: none;
  color: #ccc; 
  font-weight: 500;
  padding: 0.3rem 0.8rem;
  border-radius: 0.75rem;
  transition: all 0.2s ease-in-out;
}

.navLink:hover {
  background-color: #ffb700; 
  color: #fff;
}

.active {
  color: #ffb700;
  font-weight: 700;
} */
